<% menu_item = list_item %>

<table class="line <%= cycle('odd', 'even') %>" width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td class="handle"><%= ubiquo_image_tag('updownarrows.gif') %></td>
    <td><%= menu_item.caption %></td>
    <td class="actions">
      <%= uhook_menu_item_links(menu_item) %>
    </td>
  </tr>
</table>
