<div id="component_<%= component_sidebar.id %>" class="component_sidebar component">
	<a href="#"><div class="creu"><%= t('ubiquo.design.move') %></div></a>
  <div class="wrap1">
    <div class="wrap2">
      <div class="wrap3">
				<p class="nom"><%= component_sidebar.name %></p>
      </div>
    </div>
  </div>   
</div>
<%= draggable_element "component_#{component_sidebar.id}", :handle => "'creu'", :revert => true%>
